*
!.gitignore
!.github/
!.github/**
!task_1_2_2/
!task_1_2_2/**
!task_1_2_1/
!task_1_2_1/**
task_1_2_2/bin/
task_1_2_2/bin/**
task_1_2_2/build/
task_1_2_2/build/**
task_1_2_2/.gradle/
task_1_2_2/.gradle/**

